body {
	font:24px/1.6 Arial, sans-serif;
	color:#b7b7b7;
	background-color:#f4f4f4;
}

* {
	margin:0;
	padding:0;
}

#header-top a {
	text-decoration: none;
	color:#fff;
}

#header-top a:hover {
	color:#dad8d8;
	font-weight: bold;
}


#header-top {
	text-decoration: none;
	background-color: #7b2b28;
	padding-top: 30px;
	padding-bottom: 40px;
	width: 1663px;
	margin: 0 auto;
}

.header-top-text {

float:left;
line-height: 20px;
margin-right: 40px;
margin-left: 60px;
color:#fff;
}

#wrapper {
	width: 1450px;
	margin: 0 auto;
	height: 608px;
}

.version {
	text-align: center;
}
.href a {
	color:#ffffff;
	margin-left:100px;
	float:left;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom:25px; 
}

.href a:hover {
    background-color: white;
    color:#7b2b28;
}

.href a:active {
    background-color: white;
    color:#7b2b28;
}


li {
	list-style-type: none;
}

#hed1 {
	float:left;
	position: relative;
	top:25px;
}

#hed2 {
	float:right;
	top:25px;
	position: relative;
}

.logosss{
	position: absolute;
	left:730px;
	height: 150px;
}


#logo 	{
	position: relative;
	left: 258px;
}

#text {
	position: relative;
	left: 310px;
}

.version-sleeps {
	width: 200px;
}

#cap {
	width: 1450px;
	height: 610px;
}

#header-bot {
    color: #e4e4e4;
    background-image: url(../image/cap.png);
    background-repeat: no-repeat;
    width: 1663px;
    margin: 0 auto;
    position: relative;
    height: 608px;
}

.hed-h1 {
    font-size: 60.75px;
    width: 480px;
    line-height: 1;
    font-family: impact , sans-serif;
    color: #fff;
    padding-top: 20px;
}

.hed-p1 {
	padding-top: 38px;
	font-size: 25px;
    width: 503px;
    text-decoration: none
}

.botton1 {
    border-radius: 10px;
    border: 2px solid #732b28;
    width: 215px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
	text-align: center;
	margin-top:30px;
}

.botton1 a{
	color:#fff;
}

.botton1 a:hover {
	color:#d4d2d2;
	background-color: black;
}

#header-bot a {
	text-decoration: none;
}

.job-p{
	margin-top:90px;
	font-size:32px;
	font-family:Arial, sans-serif;
	color:#7b2b28;
}

#Vacancies h2{
	color:#363636;
	font-size:52px;
}

#Vacancies {
	text-align: center;
}

#img {
	background-repeat: no-repeat;
	background-position: left center,center center, right center;
	height: 608px;
	background-image: url(../image/vac1.png), url(../image/vac2.png), url(../image/vac3.png);
}

#text-1 {
	font-size:24px;
	font-family: Arial, sans-serif;
	color:#6c6c6c;
	width: 244px;
	position: relative;
    top: 219px;
    left: 85px;
}

#text-2 {
	width: 276px;
	position: relative;
    left: 687px;
    bottom: 86px;
    color: #6c6c6c;

}

#wrapper-del {
	width: 1450px;
	margin: 0 auto;
	height: 608px;
}

#text-3 {
    width: 276px;
    position: relative;
    left: 1297px;
    bottom: 450px;
    color: #6c6c6c;
	
}

#bigvac {
    background-image: url(../image/bigvac.png);
    background-repeat: no-repeat;
    position: relative;
    width: 356px;
    height: 97px;
    top: 78px;
    right:25px;
}

#bigvac p {
	color:#fff;
	font-size:28px;
	font-family: Arial, sans-serif;
	padding-top:15px;
}

#job {
	text-align: center;
}

#text-job {
	position: relative;
	top:300px;
	text-align: center;
	padding-bottom:100px;
}

#text-job p {
	font-size: 32px;
	color:#7b2b28;
}

#text-job h2 {
	color:#363636;
}

#text-job img {
	float:left;
	margin-top:84px;
	margin-left:31px;
	width: 452px;
	height: 305px;
}

#injobtext {

	font-size:15px;
}

#injobtext h2 {
	color:#363636;
	font-size:35px;
	margin-right: 30px;
}

#injobtext p {
	color:#363636;
	font-size:22px;
	position: relative;

}

#injob1 p {
	color:#535353;
}

#injob1 h2 {
	color:#7b2b28;
}

#injob1 {
	float:left;
	width: 370px;
}

#injob2 p {
	color:#535353;
}

#injob2 h2 {
	color:#7b2b28;
}

#injob2 {
	float:left;
	width: 370px;
}

#injob3 p {
	color:#535353;
}

#injob3 h2 {
	color:#7b2b28;
}

#injob3 {
	float:left;
	width: 370px;
}



#stenka {
	width:1343px;
	margin:0 auto;
}

.textinjob1 {
    position: relative;
    left: 122px;
}

.textinjob2 {
    position: relative;
    left: 226px;
}

#textp1 {
	left:123px;
}

#textp2 {
	left:227px;
}

.img1 {
	position: relative;
	top:30px;
}

.activityimg1 {
	position: relative;
	right: 14px;
}

.activityimg2 {
    position: relative;
    left: 93px;
    top: 34px;
}

.activityimg3 {
	top: 33px;
    position: relative;
    left: 201px;
}

#stenka {
	overflow: hidden;
}

.more  {
    color:#535353;
    text-align: center;
}

#rap {
	width: 960px;
	padding-top:50px;
	margin:0 auto;
	padding-bottom: 115px;
}

#rap p {
	text-align: center;
}

#rap a{
	color:#535353;
	font-size: 32px;
	border-bottom: 2px solid #813431
}

#rap a:hover {
	color:#d4d2d2;
	font-size: 32px;
	border-bottom: 2px solid #813431
}

#Programms {
	height: 870px;
	background-image: url(../image/Programms.png);
}

.ProgrammsText-1 {
	text-align: center;
	padding-top:90px;
	padding-bottom: 41px;
	font-size:25px;
}

.ProgrammsText-2 {
	text-align: center;
	width: 1041px;
	margin: 0 auto;
	padding-bottom: 61px;
	font-size:25px;
}

.ProgrammsText-2 p {
	font-size:25px;
	text-align: center;
	padding-top: 61px;
}

.ProgrammsText-3 {
	width: 575px;
	float:left;
}

.ProgrammsText-4 {
	width: 560px;
	float:right;
}

#forprog3-4 {
	margin:0 auto;
	width:1150px;
	overflow: hidden;
}

h3 {
	text-align: center;
	color:#7b2b28;
	margin:0 auto;
	margin-top: 53px;
	background-color: #fff;
	width: 307px;
	height: 46px;
	display: block;


}

h3 a {
	display: block;
	width:307px;
	height:46px;
	color:#7b2b28;
}

h3 a:hover {
	display: block;
	width:307px;
	height:46px;
	color:#222;
}
#branchesfon {
	width: 1442px;
	margin: 0 auto;
	height: 740px;
}

#textbranches {
	margin-top:100px;
	text-align:center; 
}

#textbranches p {
	font-size: 32px;
	color:#7b2b28;
}

#textbranches h2 {
	font-size: 52px;
	color:#363636;
}

#branchesfon1 {
	float:left;
	width: 705px;
	height: 331px;
	margin-right: 30px;
	margin-bottom: 16px;
	background-image:url(../image/branchesfon1.png);
}

#branchesfon2 {
	width: 703px;
	height: 332px;
	background-image: url(../image/branchesfon2.png);
	float:right;
}

#branchesfon3 {
	width: 1440px;
	height: 390px;
	background-image: url(../image/branchesfon3.png);
	float: left;
}

.textbranches1 {
    display: block;
    position: relative;
    top: 250px;
    left: 30px;
    font-family: Impact
}

.textbranches1 span {
	color:#fff;
}

.textbranches2 {
    display: block;
    top:250px;
    left:30px;
    position: relative;
    font-family: Impact
}

.textbranches2 span {
	color:#fff;
}

.textbranches3 {
    display: block;
    top:300px;
    left:30px;
    position: relative;
    font-family: Impact
}

.textbranches3 span {
	color:#fff;
}

.bigapteck {
	width: 329px;
	height:69px;
	margin:0 auto;
	display: block;
	padding-bottom: 41px;
}

#info {
	font-size: 32px;
	color:#7b2b28;
}

#enterprise h2 {
	color:#363636;
	font-size: 52px;
}

#enterprisetext1 {
	text-align: center;
}

.enterprisetext2 {
	width: 1095px;
	margin: 45px auto;
	color:#222222;
	font-size: 26px;

}

.enterprisetext3 {
    width: 1322px;
    margin: 34px auto;
    color: #7b2b28;
    font-size: 28px;
    line-height: 1;
}

footer {
	height: 97px;
	background-color: #404040;
	text-align: center;
}

footer h2 {
	padding-top: 20px;
}

#window1{
		width: 400px;
		height: 400px;
		margin: 25px auto;
		display: none;
		background: #e5e5e5;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}
	
	.close{
		margin-left: 364px;
		margin-top: 4px;
		cursor: pointer;
	}

	.textinbox {
		text-align: center;
		color:#363636;
		font-size: 20px;
	}

.textinp {
	margin:70px auto;
	text-align: center;
	color:black;
}

.textinp span {
	color:#7b2b28;
}

#window2{
		width: 400px;
		height: 400px;
		margin: 25px auto;
		display: none;
		background: #e5e5e5;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}

#main {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
      }
      #okno {
        width: 300px;
        height: 50px;
        text-align: center;
        padding: 15px;
        border: 3px solid #0000cc;
        border-radius: 10px;
        color: #0000cc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
      #main:target {display: block;}
